doctype html
html
	head
		title= title
		link(rel='icon', sizes="16x16", href='images/favicon.ico')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/js/three.min.js')
				
body

	script(src='/js/OrbitControls.js')
	nav
		a(href='/').nav home
		a(href='/basic').nav sphere
		a(href='/loveislove').nav LoveIsLove

	block model
	block content
