doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/js/three.min.js')
				
body
	script(src='/js/OrbitControls.js')
	block content
