doctype html
html
	head
		title= title
		link(rel='icon', sizes="16x16", href='images/favicon.ico')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script.processing(src='js/p5.js')
				
body
	
	nav
		a(href='/').nav home
		a(href='/basic').nav sphere
		a(href='/loveislove').nav LoveIsLove
		a(href='/pExperiment').nav pExperiment

	block pModel
	block pContent
