body {
  	padding: 0px;
  	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F3F6F9;
}


.me {
	text-align: center;
	color: #a6a6a6;
	z-index: 1;
	font-weight: 200;
	font-weight: bold;
	margin-top: 600px;
}
.me3 {
	text-align: center;
	color: #a6a6a6;
	z-index: 1;
	font-weight: 200;
	font-weight: bold;
	margin-top: 50%;

}
.me2 {
	text-align: center;
	color: #a6a6a6;
	z-index: 1;
	font-weight: 200;
	font-weight: bold;
	margin-top: 6px;
}
.nav { 
	text-decoration: none;
	color: #a6a6a6;
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
 }
 canvas {
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -9999;
 }

 .pgTittle {
 	margin-left: 20px;
 }
 .llTittle {
 	text-align: center;
 	font-size: 100px;
 	margin-top: -30px;
 	color: #8a69ae;

 }

 canvas.heart {
 	position: absolute;
 	top: 50;
 	left: 0;
 	z-index: -9999;
 }