body {
  	padding: 0px;
  	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F3F6F9;
}


.me {
	text-align: center;
	color: #a6a6a6;
	z-index: 1;
	font-weight: 200;
	font-weight: bold;
}
.nav { 
	text-decoration: none;
	color: #a6a6a6;
	text-algin: center;
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
 }