body {
  	padding: 0px;
  	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F3F6F9;
}


.me {
	text-align: center;
	color: #a6a6a6;
	z-index: 1;
	font-weight: 200;
	font-weight: bold;
}